<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <div>
                <label for="title">Blog title:</label>
                <input type="text" id="title" name="title" required>
                <div class="title error"></div>
            </div>
            <div>  
                <label for="snippet">Blog snippet:</label>
                <input type="text" id="snippet" name="snippet" required>
                <div class="snippet error"></div>
            </div>
            <div>
                <label for="body">Blog body:</label>
                <textarea id="body" name="body" required></textarea>
                <div class="body error"></div>
            </div>
            <button>Submit</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
<script>
    const form = document.querySelector('form');
    const titleError = document.querySelector('.title.error');
    const snippetError = document.querySelector('.snippet.error');
    const bodyError = document.querySelector('.body.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        titleError.textContent = "";
        snippetError.textContent = "";
        bodyError.textContent = "";

        // get values
        const title = form.title.value;
        const snippet = form.snippet.value;
        const body = form.body.value;
        try {
            const res = await fetch('/blogs', {
                method: 'POST',
                body: JSON.stringify({ title, snippet, body }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();

            if (data.errors) {
                titleError.textContent = data.errors.title;
                snippetError.textContent = data.errors.snippet;
                bodyError.textContent = data.errors.body;
            }

            if (data.user) {
                location.assign('/');
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>

</html>